*, html, body {
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
}

.content {
    margin: 8px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    border: none;
    background-color: yellow;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: yellow;
    transition: .5s all ease-in-out;
}

input {
    border: none;
    background-color: aliceblue;
    color: black;
    padding: 16px;
    font-size: 24px;
    border-radius: 20px;
    margin-top: 10px;
}

#pertanyaan {
    font-size: 1.6em;
    font-weight: 500;
    font-family: fantasy;
}

#loader {
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 15px solid aquamarine;
    top: 50%;
    left: 50%;
    z-index: 9;
    border-radius: 50%;
    animation: 1s spin infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}